/***************** 헤더 스타일 *****************/
/* 헤더 아이콘 스타일 */
.bi-heart-fill{
  font-size: 25px;
  line-height: 25px;
  transition-duration: 0.5s;
}

.bi-person-fill{
  font-size: 30px;
  line-height: 30px;
  transition-duration: 0.5s;
}

.bi-search{
  font-size:35px;
  line-height: 35px;
  color: #505050;
  background-color: whitesmoke;
  padding: 5px;
}

/* 햄버거 버튼  스타일*/
.menu-trigger {
  margin: 10px 25px;
}

.menu-trigger:hover span:nth-of-type(1) {
  background-color: #505050;
}

.menu-trigger:hover span:nth-of-type(2) {
  background-color: #505050;
}

.menu-trigger:hover span:nth-of-type(3) {
  background-color: #505050;
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  width: 30px;
  height: 25px;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: rgb(124,124,125);
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 11px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

/* 햄버거 버튼 이벤트 */
.menu-trigger.active-1 span:nth-of-type(1) {
  -webkit-transform: translateY (10px) rotate (-45deg);
  transform: translateY(10px) rotate(-45deg);
}

.menu-trigger.active-1 span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active-1 span:nth-of-type(3) {
  -webkit-transform: translateY(-10px) rotate(45deg);
  transform: translateY(-10px) rotate(45deg);
}


  /* 햄버거 메뉴 디자인 */
.ham-con{
  width: 450px;
  height: 100%;
  background-color: #E0E0E0;
  position: relative;
  top:0px;
  left:450px;
  color:#505050;
}

.ham-con a{
  color: #505050;
}

.search-con{
  width: 100%;
  height: 50px;
  position: relative;
  top: 50px;
  margin-bottom: 80px;
  overflow: hidden;
}

.search-con input{
  width: 70%;
  height: 100%;
  float: left;
  line-height: 50px;
}

#ham-menu-wrap{
  width:100%;
  height: 100%;
  margin: 50px auto;
  position: relative;
}

.ham-top-menu{
  background-color: #fff;
}

.ham-con li{
  width: 100%;
  height: 50px;
  margin: 0 auto;
}

.ham-con a:hover{
  color: rgb(119, 119, 119);
  text-decoration: none;
} 


.ham-top-menu{
    width: 100%;
    height: 50px;
    position: relative;
    line-height: 50px;
    font-size: 22px;
    text-align: center;
}

.ham-sub-menu{
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: none;
    font-size: 18px;
    text-align: left;
}

.ham-sub-menu li {
    width: 100%;
    height: 60px;
    line-height: 60px;
}

/* 말풍선 디자인 */
#balloon-wrap{
  width: 180px;
  height: 100px;
  /* background-color:pink; */
  position:absolute;
  top:80px;
  left:75%;
  z-index: 99;
}

#balloon-wrap a{
  color: #fff;
}

.balloon {  
  position:absolute; 
  width:170px; 
  height:auto;
  background:#666; 
  border-radius: 20px;
  text-align: center;
  display: none;
 }

 .balloon:after { 
  border-top:0px solid transparent; 
  border-left: 10px solid transparent; 
  border-right: 10px solid transparent; 
  border-bottom: 10px solid #666; 
  content:""; 
  position:absolute;
  top:-10px;
  left:100px;  
 }

 .balloon li{
   padding :10px;
 }

 .balloon li:hover a{ 
  text-decoration: underline;
 }
