/*
컬러1 : #444 / rgb(86,86,86) 글자색, 버튼 호버색 
컬러2 : #777 / rgb(119, 119, 119) 박스색, 이모티콘 색  
컬러3 : #eee /rgb(238, 238, 238) 메뉴 호버색
컬러4 : #dee2e6 / rgb(222, 226, 230) 라인색
컬러5 : #f7f7f7 / rgb(247, 247, 247) 서브메뉴 색 
*/

.bg-444{
	background-color:#444;	
}
.bg-777{
	background-color:#777;	
}
.bg-eee{
	background-color:#eee;	
}
.bg-dee{
	background-color:#dee;	
}

.ft-444{
	color:#444;	
}
.ft-777{
	color:#777;	
}
.ft-eee{
	color:#eee;	
}
.ft-dee{
	color:#dee;	
}

/***************** 헤더 스타일 *****************/
.header{
	height:70px;
	border-bottom:1px solid rgb(222, 226, 230);
}

/* 헤더 아이콘 스타일 */
.bi-heart-fill{
  font-size: 25px;
  line-height: 25px;
  transition-duration: 0.5s;
}

.bi-person-fill{
  font-size: 30px;
  line-height: 30px;
  transition-duration: 0.5s;
}

.bi-person-fill:hover, .bi-heart-fill:hover{
	color:#444;
}

.ham-con .bi-search{
  width:50px;
  font-size:25px;
  line-height: 35px;
  text-align:center;
  color: #777;
  background-color: whitesmoke;
  padding: 5px;
  border:1px solid #444;
  border-left:0px;
  
}

.ham-con .bi-caret-up-fill, .ham-con .bi-caret-down-fill{
	color:#444;
}

/* 햄버거 버튼  스타일*/
.menu-trigger {
  margin: 10px 25px;
}

.menu-trigger:hover span:nth-of-type(1) {
  background-color: #444;
}

.menu-trigger:hover span:nth-of-type(2) {
  background-color: #444;
}

.menu-trigger:hover span:nth-of-type(3) {
  background-color: #444;
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  width: 30px;
  height: 25px;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: rgb(124,124,125);
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 11px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

/* 햄버거 버튼 이벤트 */
.menu-trigger.active-1 span:nth-of-type(1) {
  -webkit-transform: translateY (10px) rotate (-45deg);
  transform: translateY(10px) rotate(-45deg);
}

.menu-trigger.active-1 span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active-1 span:nth-of-type(3) {
  -webkit-transform: translateY(-10px) rotate(45deg);
  transform: translateY(-10px) rotate(45deg);
}

  /* 햄버거 메뉴 디자인 */
.ham-con{
  width: 30%;
  height: 1000px;
  background-color: rgba(224, 224, 224, 0.8);
  position: fixed;
  top:70px;
  right:-20%;
  color:#505050;
  z-index: 99;
  opacity: 0;
}

.search-con{
  width: 100%;
  height: 50px;
  position: relative;
  top: 50px;
  margin-bottom: 80px;
  overflow: hidden;
}

.search-con input{
  width: 70%;
  height: 100%;
  float: left;
  line-height: 50px;
  border:1px solid black;
}

.ham-menu ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

.ham-menu ul.ham-top-menu li {
  position: relative;
  float: left;
  width: 100%;
  list-style-type: none;
  font-size: 18px;
}

.ham-menu ul.ham-top-menu li a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 50px;
  text-indent: 20px;
  color: #000;
  background-color: #fff;
  text-decoration: none;
}

.ham-menu ul.ham-top-menu li a:hover {
  background: #eee;
}

.ham-menu ul.ham-top-menu li .ham-sub-menu a {
  position: relative;
  float: left;
  display: block;
  width: 100%;
  z-index: 99;
  background: #F7F7F7;
}

.ham-menu ul.ham-top-menu li .ham-sub-menu a:hover {
  background: #444;
  color: #fff;
}

/* 말풍선 디자인 */
#balloon-wrap{
  width: 180px;
  height: 100px;
  /* background-color:pink; */
  position:absolute;
  top:75px;
  right:3%;
  z-index: 99;
}

#balloon-wrap a{
  color: #fff;
}

.balloon {  
  position:absolute; 
  width:170px; 
  height:auto;
  background:#666; 
  border-radius: 20px;
  text-align: center;
  display: none;
  padding: 0;
 }

 .balloon:after { 
  border-top:0px solid transparent; 
  border-left: 10px solid transparent; 
  border-right: 10px solid transparent; 
  border-bottom: 10px solid #666; 
  content:""; 
  position:absolute;
  top:-10px;
  left:100px;  
 }

.balloon li{
   padding :10px;
}

 .balloon li:hover a{ 
  text-decoration: underline;
 }


/***************** 로그인 회원가입 페이지 공통 스타일 *****************/
.login-con .btn, .join-con .btn {
  font-weight: 700;
  height: 36px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}


.login-section .card, .join-section .card {
  background-color: #F7F7F7;
  /* just in case there no content*/
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-con .btn.btn-signin, .join-con .btn.btn-signin{
  /*background-color: #4d90fe; */
  /* background-color: rgb(104, 145, 162); */
  background-color: #777;
  /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
  padding: 0px;
  font-weight: 700;
  font-size: 14px;
  height: 36px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
}

.login-con .btn.btn-signin:hover,
.login-con .btn.btn-signin:active,
.login-con .btn.btn-signin:focus, 
.join-con .btn.btn-signin:hover,
.join-con .btn.btn-signin:active,
.join-con .btn.btn-signin:focus {
  background-color: #444;
}

.login-con .form-signin .form-control:focus, .join-con .form-signin .form-control:focus {
  border-color: #777;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(119,119,119,.075),0 0 8px rgb(86, 86, 86);
  box-shadow: inset 0 1px 1px rgba(119,119,119,.075),0 0 8px rgb(86, 86 86);
}


/***************** 로그인 페이지 스타일 *****************/
.login-section{
	margin-top:100px;
	height:600px;
}

.login-con .card-container.card{
  max-width: 350px;
  padding: 40px 40px;
}

.login-con .reauth-email {
  display: block;
  color: #404040;
  line-height: 2;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.login-con .form-signin #inputEmail,
.login-con .form-signin #inputPassword {
  direction: ltr;
  height: 44px;
  font-size: 16px;
}

.login-con .form-signin input[type=email],
.login-con .form-signin input[type=password],
.login-con .form-signin input[type=text],
.login-con .form-signin button {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.get-join {
  color: #777;
}

.get-join:hover,
.get-join:active,
.get-join:focus{
  color: #444;
}

.login-person .bi-person-circle{
  font-size: 100px;
  color:  #444;
}

/***************** 회원가입 및 회원수정 페이지 스타일 *****************/
.join-section{
	margin-top:100px;
	height:1300px;
}

.join-con .card-container.card{
  max-width: 700px;
  padding: 40px 40px;
  margin: 0 auto;
}

.join-con label{
   width: 30%;
   font-weight: 700;
}

.color-con{
  margin-left: 30%;
}

.join-value{
  margin-bottom: 20px;
}

.join-con h2{
  width: 100%;
  height: 100%;
  /* background-color: pink; */
  margin: 10px auto 30px;
  text-align: center;
}

.checkboxs input{
  margin-left:4px ;
}

/* 피부톤 팔레트 디자인*/
.color-con{
  width: 295px;
  height: 200px;
}

.pallet{
  width: 295px;
  height: 100px;

}

.colorBox{
  width:90px;
  height:90px;
  float: left;
  margin: 8px 8px 0px 0px;
  cursor: pointer;
  line-height:40px;
}

.update-btn button{
  margin: 30px auto 10px;
}

.join-con .btn-danger{
  /*background-color: #4d90fe; */
  /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
  padding: 0px;
  font-weight: 700;
  font-size: 14px;
  height: 36px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
}

.pallet-action {
	/* border:3px solid rgba(119, 119, 119,0.9); */
	box-sizing:border-box;
	box-shadow:2px 2px 2px 2px rgba(86,68,86,0.7);
}

/***************** 마이페이지 스타일 *****************/

/* 회원정보 컨테이너  */
.userinfo-container{
  width: 100%;
  height: 400px;
  /* background-color: salmon; */
}

.userinfo-con{
  width: 50%;
  height: 250px;
  /* background-color: lightblue; */
}

.left-info-con{
  width: 40%;
  height: 100%;
  /* background-color: gold; */
}

.left-info-con .bi-person-circle{
  font-size: 180px;
  line-height: 250px;
  text-align: center;
  color: rgb(119, 119, 119);
}

.right-info-con{
  width: 76%;
  height: 100%;
  /* background-color: olive; */
  padding-top: 80px;
}

.nickname-box{
  width: 100%;
  height: 40px;
  /* background-color: orange; */
}

.nickname-box h3{
  /* background-color: green; */
  line-height: 40px;
  margin-right: 10px;
}

.nickname-box .bi-gear-fill{
  font-size: 20px;
  line-height: 40px;
}

.nickname-box a:hover{
	color:#777;
}

.cnt-box li{
  width: 150px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  /* background-color: firebrick; */
  color: rgb(119, 119, 119);
}

/* 탭 디자인 */
.bi-person-fill, .bi-pencil-fill, .bi-heart-fill{
  color: rgb(119, 119, 119);
  font-size: 30px;
  line-height: 30px;
}

/* 리뷰리스트 디자인 */
.tab-pane{
  padding-top: 100px;
}

.card-left{
  width: 70%;
  height: 100%;
}

.card-right{
  width: 30%;
  height:100%;
  /* background-color: salmon; */
}

.pagination a{
  color: #505050;
}

.col-md-4{
  border-right: 1px solid rgb(219, 219, 219);
}

.tab-content{
  margin-bottom: 100px;
}


/***************** 제품 상세보기 스타일 *****************/
.item-detail-section{
  width: 100%;
  height: auto;
  /* background-color: orange; */
}

.item-con{
  width: 100%;
  /* background-color: olive; */
  height: 600px;
}


.detail-route{
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  color:#444;
  /* background-color: cadetblue; */
}

.detail-con{
  width: 100%;
  height: 400px;
  /* background-color: pink; */
  display: flex;
  justify-content: space-between;
}

.detail-left{
  width: 45%;
  height: 400px;
  overflow: hidden;
  /* background-color: purple; */
} 

.detail-left img{
  width: 100%;
  height: 400px;
}

.detail-right{
  width: 50%;
  height: 400px;
  /* background-color: #dfdf36; */
}

.detail-brand-name{
  width: 100%;
  height: 50px;
  /* background-color: cornflowerblue; */
  font-size: 20px;
  line-height: 50px;
}

.detail-item-name{
  width: 100%;
  height: auto;
  /* background-color: cyan; */
}

.detail-price{
  width: 100%;
  height: 50px;
  font-size: 19px;
  text-align: right;
  line-height: 50px;
  /* background-color: yellowgreen; */
}

.item-content{
  width: 100%;
  height: 150px;
  /* background-color: darkkhaki; */
}

.button-con{
  width: 100%;
  height: 40px;
  /* background-color: #dfdf36; */
  display:flex;
  justify-content: flex-end; 
}

.button-con button{
	margin: 0 5px;
}

.button-con .bi-hand-thumbs-up{
  font-size: 20px;
  line-height: 20px;
  /* background-color: chocolate; */
}

.related-con{
  height: 1000px;
  /* background-color: salmon; */
}

.related-con h2{
  width:100%;
  height: 100%;
  display: inline-block;
  position: relative;
  /* background-color: #dfdf36; */
  color: #444;
}

.related-con h2:after{
  width: 70%;
  height: 2px;
  display: block;
  content: "";
  position: absolute;
  top: 20px;
  right :0%;
  background: #444;
}

.related-list{
  width: 50%;
  height: auto;
  /* background-color: cyan; */
}

/* 만족도  디자인*/
.item-detail-section .rating {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
}

.rating {
  width:35%;
  position: relative;
  font-size: 1rem;
  color: #444;
}

.rating input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.rating span {
  width: 0;
  position: absolute;
  left: 0;
  color: crimson;
  overflow: hidden;
  pointer-events: none;
}


/***************** 리뷰 목록 스타일 *****************/
#board-card:hover, #related-card:hover{
	transform:translate(0,-5px);
	cursor:pointer;
}

#board-card .img-card, #related-card .img-card{
	overflow:hidden;
}

#board-card img, #related-card img{
	width:100%;
}

#board-card:hover img, #related-card:hover img{
	transform: scale(1.1);
	transition: transform 1s;
}
